@import 'tailwindcss';
@import "./embla.css";

@theme {
  --color-sky: #285a81;
  --color-grass: #3a3715;
  --color-flower: #d06644;
}


@layer base {
  h1 {
    @apply text-5xl leading-10;
  }

  h2 {
    @apply text-4xl leading-8 mb-2;
  }

  h3 {
    @apply text-3xl leading-7 mb-2;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: 'erstwhile';
  }

  a {
    @apply hover:underline;
  }

  main {
    color: var(--color-sky);
  }
}


@font-face {
  font-family: erstwhile;
  src: url('/erstwhile.woff2');
}

html {
  background-color: #f4e7c7;
  background-image: url('/back.jpg');
  overflow-x: hidden;
  font-size: 18px;
  /* font-size: 1.3vw; */

  @media (width >=theme(--breakpoint-sm)) {
    font-size: 22px;
  }
}

body {
  /* background-color: #faebcb94; */
  font-family: "Niramit", sans-serif;
  font-weight: 300;
  font-style: normal;
}


/* .bg-meadow {
    background-image: url('meadow.png');
    background-size: cover;
} */