@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    h1 {
      @apply text-5xl leading-10;
    }
    h2 {
      @apply text-4xl leading-8 mb-2;
    }
    h3 {
      @apply text-3xl leading-7 mb-2;
    }
  }


@font-face {
    font-family: erstwhile;
    src: url('/erstwhile.woff2');
    /* size-adjust: 100%; */
  }

html {
    background-image: url('/back.jpg');
    overflow-x: hidden;
    font-size: 22px;
    /* font-size: 1.3vw; */
}

body {
  /* background-color: #faebcb94; */
  @apply pt-2;

  font-family: "Niramit", sans-serif;
  font-weight: 300;
  font-style: normal;
}

h1, h2, h3, h4, h5 {
    font-family: 'erstwhile';
    @apply text-sky;
}

p {
    @apply text-sky;
}

/* .bg-meadow {
    background-image: url('meadow.png');
    background-size: cover;
} */